@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}

.digitaldomain .project-header{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 40px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    }
}

.digitaldomain .header-textbox {
    display: table;
    align-self: center;
}

.digitaldomain .project-content {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.digitaldomain .project-content .container {
    margin-top: 70px;
    margin-bottom: 150px;
    
}

.digitaldomain .project-content .project-overview {
    margin-bottom: 0px;
}

.digitaldomain .project-content h1 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}

.digitaldomain .project-content h2 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: left;
}

.digitaldomain .project-content h3 {
    font-size: 14pt;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    margin-top: 20px;
    text-align: left;
}

.digitaldomain p {
    color: #000000;
    font-size: 12pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: left;
}
.digitaldomain .col {
    display: table;
    align-self: center;
}

.digitaldomain .project-content .tech-details .techflow p{
    color: #000 !important;
}

.digitaldomain .project-content .tech-details .techflow .tech-title-text{
    font-size: 14pt;
    display: flex;
    justify-content: center;
    color: #000;
}

.vid-player{
    display: flex;
    justify-content: center;
}

.outcome-img {
    border-radius: 10px;
}

.digitaldomain .project-content img {
    padding: 10px 0px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.digitaldomain .demos p {
    margin-bottom: 20px;
    font-size: 16pt;
}
.digitaldomain .vid-player{
    display: flex;
    margin-bottom: 20px;
    justify-content: left;
}

.project-nav {
    justify-content: space-between;
    display: flex;
    padding-bottom: 50px;
    width: 100%;
}

.project-nav .back {
    margin-left: 5%;
}

.project-nav .next {
    margin-right: 5%;
    margin-left: auto;
}

.project-nav a {
    font-size: 14pt;
    color: #49423c;
    text-decoration: none;
}

.project-carousel {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    width: 100%;
    padding: 10px;
}

li {
    margin-bottom: 15px;
    padding-left: 10px;
}

.digitaldomain .outcome button {
    font-weight: 400;
    color: #74B4C0;
    border: 1px solid #74B4C0;
    padding: 18px 34px;
    font-size: 14pt;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
  .digitaldomain .outcome button a {
    z-index: 1;
    text-decoration: none;
    color: #74B4C0;
  }

  .digitaldomain .outcome button a:hover {
    color: #18191D;
  }

  .digitaldomain .outcome button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #74B4C0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .digitaldomain .outcome button:hover {
    color: #18191D;
  }
  .digitaldomain .outcome button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }
