@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}


.digitaldomain .project-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* padding: 200px 0 100px 0; */
    background-color: #DEDEDE;
    border-color: #DEDEDE;
    border-radius: 0 0 40px 40px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitaldomain .project-header .row {
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.digitaldomain .logo {
    width: 40%;
    height: auto;
    margin-bottom: 50px;
}

.digitaldomain .project-header h2 {
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    margin-bottom: 20px;
    color: black;
}

.digitaldomain .project-header p {
    color: #414141;
    font-size: 14pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.digitaldomain .header-textbox {
    display: table;
    align-self: center;
}

.digitaldomain .project-content .container {
    margin-top: 50px;
    margin-bottom: 150px;
    
}

.digitaldomain .project-content .project-overview {
    margin-bottom: 0px;
}

.digitaldomain .project-content h3 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.digitaldomain .project-content p {
    color: #B8B8B8;
    font-size: 11pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    font-weight: 300;
    text-align: left;
}
.digitaldomain .col {
    display: table;
    align-self: center;
}

.digitaldomain .project-content .tech-details .side-notes {
    color: #B8B8B8;
    font-size: 10pt;
    letter-spacing: 0.8px;
    text-align: left;
}
.digitaldomain .techflow {
    margin-top: 10px;
}

.digitaldomain .project-content .tech-details .techflow p{
    color: #18191D !important;
}

.digitaldomain .project-content .tech-details .techflow .tech-title-text{
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

.vid-player{
    display: flex;
    justify-content: center;
}

.project-nav {
    justify-content: space-between;
    display: flex;
    padding-bottom: 50px;
    width: 100%;
}

.project-nav .back {
    margin-left: 5%;
}

.project-nav .next {
    margin-right: 5%;
    margin-left: auto;
}

.project-nav a {
    font-size: 14pt;
    color: #fffaf0;
    text-decoration: none;
}