@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}

/* .mindtapp{
    color: #000000,
} */

.mindtapp .project-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* padding: 200px 0 100px 0; */
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 0 0 40px 40px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mindtapp .project-header .row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.mindtapp .logo {
    width: 70%;
    height: auto;
    margin-bottom: 50px;
}

.mindtapp .project-header h2 {
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
}

.mindtapp .project-header p {
    color: #18191D;
    font-size: 14pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.mindtapp .header-textbox {
    display: table;
    align-self: center;
}

.mindtapp .project-content .container {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.mindtapp .project-content h3 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.mindtapp .project-content p {
    color: #B8B8B8;
    font-size: 11pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: left;
}

.mindtapp .phone-img {
    width: 70%;
    height: auto;
}

.mindtapp .project-content .tech-details .techflow p{
    color: #18191D !important;
}

.mindtapp .project-content .tech-details .techflow .tech-title-text{
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

.techflow-phone-img {
    margin-top: 40px;
    width: 50%;
    height: auto;
}
.vid-player{
    display: flex;
    justify-content: center;
}

.mindtapp .outcome button {
    font-weight: 400;
    color: #fffaf0;
    border: 1px solid #fffaf0;
    padding: 18px 34px;
    font-size: 14pt;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
  .mindtapp .outcome button a {
    z-index: 1;
    text-decoration: none;
    color: #fffaf0;
  }

  .mindtapp .outcome button a:hover {
    color: #18191D;
  }

  .mindtapp .outcome button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #fffaf0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .mindtapp .outcome button:hover {
    color: #18191D;
  }
  .mindtapp .outcome button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .mindtapp .right-arrow {
    color: #fffaf0;
  }

  .mindtapp .right-arrow:hover {
    color: #18191D;
  }
