@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}

/* .mindtapp{
    color: #74B4C0,
} */

.mindtapp .project-header{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 40px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    }
}

.mindtapp .header-textbox {
    display: table;
    align-self: center;
}

.mindtapp .project-content {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.mindtapp .project-content .container {
    margin-top: 70px;
    /* margin-bottom: 150px; */
    
}

.mindtapp .project-content .project-overview {
    margin-bottom: 0px;
}

.mindtapp .project-content h1 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}

.mindtapp .project-content h3 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.mindtapp p {
    color: #000000;
    font-size: 12pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: left;
}
.mindtapp .col {
    display: table;
    align-self: center;
}

.mindtapp .project-content .tech-details .techflow p{
    color: #000 !important;
}

.mindtapp .project-content .tech-details .techflow .tech-title-text{
    font-size: 12pt;
    display: flex;
    justify-content: center;
    color: #000;
}

.mindtapp .techflow-phone-img {
    width: 50%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 10px;
}

.vid-player{
    display: flex;
    justify-content: center;
}

.outcome-img {
    border-radius: 10px;
}

.mindtapp .outcome button {
    font-weight: 400;
    color: #74B4C0;
    border: 1px solid #74B4C0;
    padding: 18px 34px;
    font-size: 14pt;
    margin-left: 18px;
      position: relative;
      background-color: transparent;
      transition: 0.3s ease-in-out;
  }
  .mindtapp .outcome button a {
    z-index: 1;
    text-decoration: none;
    color: #74B4C0;
  }

  .mindtapp .outcome button a:hover {
    color: #18191D;
  }

  .mindtapp .outcome button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: #74B4C0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }
  .mindtapp .outcome button:hover {
    color: #18191D;
  }
  .mindtapp .outcome button:hover::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
  }

  .mindtapp .right-arrow {
    color: #74B4C0;
  }

  .mindtapp .right-arrow:hover {
    color: #18191D;
  }
