@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}

/* .redfin{
    color: #fffaf0,
} */

.redfin .project-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    /* padding: 200px 0 100px 0; */
    background-color: #3F3F3F;
    border-color: #3F3F3F;
    border-radius: 0 0 40px 40px;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redfin .project-header .row {
    width: 80%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}
.redfin .logo {
    width: 40%;
    height: auto;
    margin-bottom: 50px;
}

.redfin .project-header h2 {
    font-size: 25pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
}

.redfin .project-header p {
    color: #B8B8B8;
    font-size: 14pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.redfin .header-textbox {
    display: table;
    align-self: center;
}

.redfin .project-content .container {
    margin-top: 50px;
    margin-bottom: 150px;
    
}

.redfin .project-content .project-overview {
    margin-bottom: 0px;
}

.redfin .project-content h3 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.redfin .project-content p {
    color: #B8B8B8;
    font-size: 11pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    font-weight: 300;
    text-align: left;
}
.redfin .col {
    display: table;
    align-self: center;
}

.redfin .project-content .tech-details .techflow p{
    color: #18191D !important;
}

.redfin .project-content .tech-details .techflow .tech-title-text{
    font-size: 14pt;
    display: flex;
    justify-content: center;
}

.vid-player{
    display: flex;
    justify-content: center;
}

.next-project {
    justify-content: right;
    display: flex;
    padding-bottom: 50px;
    width: 90%;
    /* margin-right: 50px; */
}

.next-project a {
    font-size: 14pt;
    color: #fffaf0;
    text-decoration: none;
}