@font-face {
    font-family: Inter;
    src: url('../../assets/css/Inter.ttf');
}

/* .scoop{
    color: #fffaf0,
} */

.scoop .project-header{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-radius: 20px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 40px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    }
}

.scoop .header-textbox {
    display: table;
    align-self: center;
}

.scoop .project-content {
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.scoop .project-content .container {
    margin-top: 70px;
    /* margin-bottom: 150px; */
    
}

.scoop .project-content .project-overview {
    margin-bottom: 0px;
}

.scoop .project-content h1 {
    font-size: 24pt;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: left;
}

.scoop .project-content h3 {
    font-size: 18pt;
    font-weight: 500;
    letter-spacing: 1.5px;
    line-height: 1;
    margin-bottom: 20px;
    text-align: left;
}

.scoop p {
    color: #000000;
    font-size: 12pt;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    text-align: left;
}
.scoop .col {
    display: table;
    align-self: center;
}

.scoop .project-content .tech-details .techflow p{
    color: #000 !important;
}

.scoop .project-content .tech-details .techflow .tech-title-text{
    font-size: 12pt;
    display: flex;
    justify-content: center;
    color: #000;
}

.scoop .techflow-phone-img {
    width: 100%;
    height: auto;
}