@font-face {
  font-family: Inter;
  src: url('./assets/css/Inter.ttf');
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  /* background-color: #18191D !important; */
  background-color: #F5F5ED !important;
  color: #000000 !important;
  font-family: 'Inter' !important;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 100px;
	}
}

.background  {
  background-image: url('./assets/img/portfolio_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  /* min-height: 200vh; */
}

.content {
  min-height: 100vh;
}

/* p.success {
	color: green;
}

p.danger {
	color: red;
} */

/************* Banner CSS *****************/
.banner {
  margin-top: 0;
  padding: 100px 0 250px 0;
  /* background-image: url('./assets/img/banner-bg.svg'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20pt;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  font-size: 25pt;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 10px;
  display: block;
}
.banner h3 {
  font-size: 18pt;
  letter-spacing: 1px;
  font-weight: 300;
}

.banner h3 span {
  font-size: 20pt;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  line-height: 1px;
}
.banner p {
  color: #B8B8B8;
  font-size: 12pt;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin-top: 25px;
  width: 96%;
  font-style: italic;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner .image-row {
  display: block;
  margin-top: 30px;
  margin-bottom: 35px;
}
.banner img {
  animation: updown 3s linear infinite;
  width: 30%;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
/************* Project Css *****************/
.projects {
  margin-top: 0;
  padding: 100px 0 100px 0;
  position: relative;
}

.img-paper {
  border-radius: 10px !important;
  color: #f9f9f9 !important;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.1);
}

.img-paper:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(0.95);
}

.projects-bx {
  background: #201F26;
  border-radius: 60px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

.projects h2 {
  font-size: 25pt;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}
.project-textbox {
  display: table;
  align-self: center;
  margin-left: 70px;
  /* background-color: aquamarine; */
}

.projects a {
  color: #000000;
  font-weight: 500;
  font-size: 18pt;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
  display: flex;
  text-decoration: none;
  text-align: left;
}

.projects a:hover {
  color: #5587ca;
}

.read-more {
  text-align: left;
  margin-top: 30px;
  display: flex;

  .arrow-icon {
    font-size: 30px;

  }
}

.read-more:hover {
  color: #5587ca;
  p {
    color: #5587ca
  }
}

.projects p {
  color: #000000;
  font-size: 12pt;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: table-row;
  vertical-align: middle;
  text-align: left;
}

.projects p span {
  font-size: 13pt;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  line-height: 0.7px;
  position: relative;
  color: #5587ca;
}

/* @keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.projects p span::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FFDEAA;
  animation: underline 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
} */

/* .projects p span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #FFDEAA;
  transition: width 0.3s ease-in-out;
}

.projects p span:onload::after {
  width: 100%;
} */

.projects img {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}
.projects .item {
  margin-bottom: 100px;
}

.projects .phone {
  margin-bottom: 100px;
}

.projects .phone img {
  height: auto;
  width: 30%;
}

/************* About Me ******************/
.about {
  margin-top: 0;
  padding: 0 0 100px 0;
  position: relative;
}

.about h2 {
  font-size: 25pt;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding-bottom: 40px;
}

.about p {
  color: #000000;
  font-size: 12pt;
  letter-spacing: 0.8px;
  line-height: 2em;
  display: table-row;
  vertical-align: middle;
  text-align: left !important;
}
.about img {
  width: 70%;
  height: auto;
}

/************* Footer *****************/
.footer {
  padding-top: 30px;
  padding-bottom: 80px;
  align-items: left;
  background-color: #f9f9f9;
  /* position: fixed;
  z-index: 9999; */
  /* bottom: -100px;  */
  /* left: 0;
  right: 0; */
  transition: bottom 0.3s ease-in-out; 
  /* width: 100%; */
}


.footer h4 {
  font-size: 14pt;
  font-weight: 400;
  padding-bottom: 25px;
  letter-spacing: 1.5pt;
  margin-left: 0px;
}

.footer .container {
  justify-content: flex-start;
  display: flex;
}

.footer .row {
  display: block;
  text-align: left;
}

.footer .social-icon {
  margin-left: 0px;
}

/************* Default App *****************/
.content {
  height: 100vh;
}
.react-parallax {
  overflow: unset !important;
}

.react-parallax-bgimage {
  height: auto;
  width: 100%;
}


/* .react-parallax-bgimage {
  height: auto;
} */